<div class = "container">
	<H1>Emailed report</H1>
	<div>
		<p>Between <%= @email_message[:start_day] %> and <%= @email_message[:end_day] %> there <%= if @email_message[:this_week]>1 then "were" else "was" end %> <%= @email_message[:this_week] %> <%= if @email_message[:this_week]>1 then "emails" else "email" end %> tagged with "<%= @email_message[:tag] %>" (<%= @email_message[:last_week] %> the week before)</p>
	</div>
	<div>
		<% @email_message[:emails].each do |email| %>
			<div>
				Sent: <%= email[:email_date].html_safe %>
			</div>
			<div>
				Subject: <%= email[:email_subject].html_safe %>
			</div>
			<div>
				<%= email[:email_body].html_safe %>
			</div>
			<div>
				<br>
			</div>
		<% end %>
	</div>
</div>
<div class = "container">
	<div class="btn-group">
		<%= link_to "Send test email to #{current_user.email}", "#{send_test_path}/#{@report_id}", remote: true, :class => "btn btn-small btn-success" %>
		</br></br>
		<%= link_to('Back to overview', '/reports', :class => "btn btn-small btn-success") %>
	</div>
</div>