<h1>Hello world! (Reports)</h1>

<%= form_for @report do |f| %>
  <%= f.label(:tag, "Tag:") %>
  <%= f.text_field(:tag) %>
  <%= f.label(:recipient_email, "Recipient email:") %>
  <%= f.text_field(:recipient_email) %>
  <%= f.label(:mailbox_hsid, "Mailbox:") %>
  <%= f.select(:mailbox_hsid, current_user.get_mailboxes) %>
  <%= f.submit("Save") %>
<% end %>

<tr>
    <td>Tag</td>
    <td>Recipient email</td>
    <br><br>
</tr>

<% @reports.each do |report| %>
    <tr>
      <td><%= report.tag %></td>
      <td><%= report.recipient_email %></td>
      <%= link_to "Send test email", "#{show_message_path}/#{report.id}", remote: true %>

  <br><br>
    </tr>
 <% end %>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

<p>Find me in app/views/reports/index.html.erb</p>
