<div id="main-container" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1><%=t ".title", default: "Create report" %></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <%= form_for @report, html: {class: "form-horizontal form-user"} do |f| %>
    

      <div class="form-group">
          <%= f.label :tag, "Which tag do you want a report for?", class: "control-label col-md-4" %>
          <div class="col-md-4">
            <%= f.select :tag, current_user.get_tags %>
          </div>
      </div>
      <div class="form-group">
          <%= f.label :mailbox_hsid, "From which mailbox?", class:  "control-label col-md-4" %>
          <div class="col-md-4">
            <%= f.select :mailbox_hsid, current_user.get_mailboxes %>
          </div>
      </div>
      <div class="form-group">
          <%= f.label :recipient_email, "Who (other than you) should receive the report?", class: "control-label col-md-4" %>
          <div class="col-md-4">
            <%= f.text_field(:recipient_email) %>
          </div>
      </div>
      <div class="form-group">
          <%= f.label :send_time, "Who (other than you) should receive the report?", class: "control-label col-md-4" %>
          <div class="col-md-4">
            <%= f.select :send_time, Date::DAYNAMES.zip((0..6).to_a) %>
          </div>
      </div>
      <div class="form-group">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="main-container" class="container">
  <% unless @reports.blank? %>
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1><%=t ".title", default: "Reports" %></h1>
        </div>
      </div>
    </div>

    <div id="main-container" class="container">
      <div class="row">
            <div class="col-md-2">
              <b>Tag</b>
            </div>
            <div class="col-md-2">
              <b>Mailbox</b>
            </div>
            <div class="col-md-2">
              <b>Recipient email</b>
            </div>
        </div>
        <% @reports.each do |report| %>
        <div class="row">
            <div class="col-md-2">
              <%= report.tag %>
            </div>
            <div class="col-md-2">
              <%= current_user.get_mailbox_name(report.mailbox_hsid) %>
            </div>
            <div class="col-md-2">
              <%= report.recipient_email %>
            </div>
            <div class="col-md-2">
              <%= link_to "See preview of report", "#{show_email_path}/#{report.id}", class: 'btn btn-default'%>
            </div>
            <div class="col-md-1">
              <%= link_to "Delete report", "#{delete_report_path}/#{report.id}", class: 'btn btn-default' %>
            </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>


